.button {
  padding: 0.6rem 1rem;
  margin: auto 1rem;
  /* font-size: large; */
  text-decoration: none;
  border-style: none;
  border-radius: 10px;
}
.button_light {
  background-color: #1a374d;
  color: white;
}
.button_dark {
  background-color: white;
  color: black;
}
.button:hover {
  background-color: #406882;
}
