.button {
  padding: 0.5rem 1rem;
  margin: auto 1rem;
  background-color: #1a374d;
  color: white;
  font-size: larger;
  text-decoration: none;
  border-style: none;
  border-radius: 10px;
}

.button:hover {
  background-color: #406882;
}
