.form input {
  padding: 0.3rem 1rem;
  border-radius: 10px;
  border-style: none;
}

.form button {
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  border-style: none;
  margin-left: 5px;
  background-color: #1a374d;
  color: white;
}
.form button:hover {
  background-color: #406882;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px 20px;
}
.grid_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.image_item {
  margin: auto;
  margin-bottom: 0.5rem;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.h3 {
  grid-column-start: 3;
  grid-column-end: 4;
  color: #1a374d;
}

.dark_dashboard {
  color: #d6e5fa;
}
@media screen and (max-width: 1030px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .h3 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media screen and (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .h3 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
